* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    outline: none;
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
header {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 652px;
    width: 100%;
    position: relative;
}
header::before{
    content: '';
    position: absolute;
    background: rgb(10,1,167);
    background: linear-gradient(90deg, rgba(10,1,167,0.8127626050420168) 0%, rgba(227,2,238,0.9192051820728291) 50%, rgba(255,0,228,1) 100%);    height: 100%;
    width: 100%;
    top: 0;
    left: 0;    
    opacity: 0.7;
}

.navbar {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    position: relative;    
    z-index: 5;
}

.nav__items {
    padding-left: 700px;
    display: flex;
    padding-right: 100px;
    padding-top: 5px;
}

.nav__roxy>a {
    font-size: 26px;
    color: white;
    padding-left: 90px;
}

.nav__item>* {
    padding-right: 25px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    background: rgb(10,1,167);
    background: linear-gradient(90deg, rgba(10,1,167,0.800) 0%, rgba(227,2,238,0.800) 50%, rgba(255, 0, 230, 0.800) 100%);    height: 100%;
    z-index: 10;
    color: white;
    transition: .3s;
}

.menu__search{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    background: rgb(10,1,167);
    background: linear-gradient(90deg, rgba(10,1,167,0.800) 0%, rgba(227,2,238,0.800) 50%, rgba(255, 0, 230, 0.800) 100%);    height: 100%;
    z-index: 10;
    color: white;
    transition: .3s;
    text-align: center;
}

.search__bar{
    text-align: center;
    position: relative;
    display: inline-block;
}
.search__icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border-left: 1px solid white;
    padding-left: 10px;
    line-height: 40px !important;
    font-size: 20px;
}
.input__search{
    position: relative;
    width: 240px;
    height: 40px;
    outline: none;
    background: none;
    border: 1px solid white;
    padding-left: 10px;
}

.input__search::placeholder{
    color: white;
}

.x__mark{
    text-align: right;
    padding: 10px 25px;
    font-size: 2em;
}

.x__mark__search{
    text-align: right;
    padding: 10px 25px;
    font-size: 2em;
}

.fa-xmark{
    cursor: pointer;
}

.menu__text{
    padding-top: 50px;
    padding-left: 25px;
    font-size: 20px;
    white-space: nowrap;
}
.menu__text > p{
    padding-top: 15px;
}

.responsive__menu{
    display: none;
}

.fa-bars{
    color: white;
    cursor: pointer;
}

.fa-bars2{
    cursor: pointer;
    position: absolute;
    font-size: 26px;
}

.dropdown__menu{
    width: 350px;
    height: 254px;
    right: 50px;
    top: 80px;
    position: fixed;
    display: flex;
    flex-direction: column;
    display: none;
    margin: 0.125rem 0 0;
    text-align: left;
    list-style: none;
    background: rgb(10,1,167);
    background: linear-gradient(90deg, rgba(10,1,167,0.800) 0%, rgba(227,2,238,0.800) 50%, rgba(255, 0, 230, 0.800) 100%);
    float: none;
    color: white;
    gap: 8px;
}

.dropdown__menu > *{
    color: white;
    cursor: pointer;
    font-size: 23px;
    padding: 4px 12px;
}
.search__glass{
    padding-left: 10px;
    color: white;
    cursor: pointer;
}


.tab {
    width: 340px;
    height: 130px;
    border: 15px solid white;
    z-index: 1;
}

.tab__contact {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
}
.top_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.get{
    font-size: 28px;
    font-weight: normal;
}
.praesent{
    width: 455px;
    text-align: center;
    padding-top: 12px;
    line-height: 24px;
    font-size: 14px;
}
form{
    padding-top: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    width: 640px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid rgba(197, 197, 197, 0.829);
}
.email{
    width: 305px;
    height: 30px;
    padding-left: 10px;
    margin-right: 25px;
    border: 1px solid rgba(197, 197, 197, 0.829);
}
.number{
    width: 305px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid rgba(197, 197, 197, 0.829);
}
.web{
    width: 640px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid rgba(197, 197, 197, 0.829);
}
.area{
    width: 640px;
    padding: 10px;
    border: 1px solid rgba(197, 197, 197, 0.829);
}
.inputs{
    margin-top: 15px;
}
.mail_inputs{
    margin-top: 15px;
}
.send {
    margin-top: 15px;
    width: 140px;
    height: 43px;
    border-radius: 20px;
    background-color: rgb(223, 22, 173);
    color: white;
    outline: none;
    border: none;
    font-size: 15px;
}

.send:hover {
    background-color: rgba(33, 33, 255, 0.87);
    cursor: pointer;
}
.where{
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    padding-top: 80px;
}
.all_loccation{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
}
.location{
    padding-right: 150px;
}
.location1{
    margin-left: 160px;
}
.location_icon{
    font-size: 40px;
    color: rgb(44, 44, 44);
}
.midtext{
    padding-top: 20px;
    padding-bottom: 16px;
    font-size: 24px;
    color: rgb(44, 44, 44);
}
.bottext{
    color: rgb(44, 44, 44);
}
.violet2 {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    margin-top: 100px;
    position: relative;
}
.violet2::before{
    content: '';
    position: absolute;
    background: rgb(10,1,167);
    background: linear-gradient(90deg, rgba(10,1,167,0.8127626050420168) 0%, rgba(227,2,238,0.9192051820728291) 50%, rgba(255,0,228,1) 100%);    height: 100%;
    width: 100%;
    top: 0;
    left: 0;    
    opacity: 0.9;
}

.foot_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding-top: 70px;
}

.make {
    color: white;
    font-size: 30px;
    z-index: 1;
}

.after_make {
    color: white;
    font-size: 14px;
    padding-top: 13px;
    padding-bottom: 22px;
    z-index: 1;
}

.end {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 220px;
}
.gettemplates{
    color: rgb(250, 16, 192);
}

.foot__icon {
    font-size: 18px;
    color: rgb(250, 16, 192);
    padding-right: 25px;
}

.features {
    width: 140px;
    height: 45px;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease 0.4s;
    z-index: 1;
}

.features:hover {
    background-color: rgba(33, 33, 255, 0.87);
    border: none;
}
@media only screen and (max-width: 1100px) {
    .nav__items {
        padding-left: 600px;
        display: flex;
    }
    .location{
        padding-right: 40px;
    }
}
@media only screen and (max-width: 1020px) {
    .nav__items {
        padding-left: 500px;
        display: flex;
    }
    .foot_text {
        text-align: center;
    }
}
@media only screen and (max-width: 915px) {
    .nav__items {
        padding-left: 350px;
        display: flex;
    }
    .end{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__icon{
        padding-top: 15px;
        text-align: center;
        display: flex;
    }
    .all_loccation{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .location{
        margin-left: 0px;
        padding-top: 45px;
        padding-right: 0px;

    }
    .location1{
        padding-top: 0px;
    }
    .end {
        padding-bottom: 60px;
    }
}
@media only screen and (max-width: 765px) {
    .nav__items {
        padding-left: 110px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .nav__item{
        display: none;
    }
    .responsive__menu{
        display: block;
    }
    .search__glass{
        padding-left: 12px;
    }
    .glasses_text{
        text-align: center;
    }
    .feat{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 670px) {
    .mail_inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .name{
        width: 460px;
    }
    .email{
        width: 460px;
    margin-right: 0px;
        
    }
    .number{
        width: 460px;
        margin-top: 15px;
    }
    .web{
        width: 460px;
    }
    .area{
        width: 460px;
    }
}
@media only screen and (max-width: 550px) {
    .foot_text {
        padding-top: 20px;
    }
    .name{
        width: 320px;
    }
    .email{
        width: 320px;
    margin-right: 0px;
        
    }
    .number{
        width: 320px;
        margin-top: 15px;
    }
    .web{
        width: 320px;
    }
    .area{
        width: 320px;
    }
    .praesent{
        width: 370px;
    }
}
@media only screen and (max-width: 465px) {
    .praesent{
        width: 320px;
    }
}
@media only screen and (max-width: 455px) {
    .dropdown__menu{
        right: 0px;
        width: 100%;
    }
}